#previewForm{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5em;
    border: black 1px solid;
}

#previewHeader,
#previewMain{
    padding-left: 1em;
    gap: 0.5em;
}

#previewMain{
    padding-top: 1em;
}

#previewHeader{
    display:flex;
    flex-direction: column;
    height: 5em;
    background: darkblue;
    color: white;
    justify-content: center;
}

#previewName{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    font-size: 2em;
}

