#previewForm{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5em;
    border: black 1px solid;
}

.defaultPadding{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.subPadding{
    padding-left: 0.5em;
}

#previewHeader{
    display:flex;
    flex-direction: column;
    height: 5em;
    justify-content: center;
    padding-top: 1.5em;
    gap: 0.5em;
}

#previewName{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    font-size: 2em;
}

#seperator{
    padding-top: 0.25em;
    width: 100%;
    background: lightblue;
}

#previewDesc{
    height: auto;
    width: 100%;
    word-wrap: break-word;
}

.spaceBetween{
    justify-content: space-between;
}

.gap25{
    gap: 0.25em;
}